<section class="topside">
  <h1>Visszajelzés</h1>
</section>
<section class="content">
  <div *ngIf="loggedInUser">
    <form [formGroup]="feedbackForm">
      <div class="form-group">
        <label for="feedback-content">Üzenet</label>
        <input type="text" id="feedback-content" name="feedback-content" required formControlName="content">
      </div>
      <div class="form-group">
        <button (click)="submitFeedback()" type="button">Küldés</button>
      </div>

    </form>
  </div>
  <div *ngIf="!(loggedInUser)">
    <section class="content">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-group">
          <label for="email" >Email</label>
          <input formControlName="email" type="email" id="email" name="email"  >
        </div>
        <div class="form-group">
          <label for="password">Jelszó</label>
          <input formControlName="password" type="password" id="password" name="password" >
        </div>
        <div class="form-group">
          <button [routerLink]="'/signup'" type="button">Regisztráció</button>
          <button type="submit">Bejelentkezés</button>
        </div>
      </form>
    </section>
  </div>
</section>
