<section class="topside">
  <h1>Profil</h1>
</section>
<section class="content">
  <div>
    <h2 *ngIf="userFeedbacks.length>0">Visszajelzéseid</h2>
    <ul>
      <li *ngFor="let feedback of userFeedbacks">
        <ng-container *ngIf="selectedFeedback!==feedback">
          {{feedback.content}}
          <button (click)="deleteComment(feedback)">Törlés</button>
          <button (click)="editComment(feedback)">Módosítás</button>
        </ng-container>
        <ng-container *ngIf="selectedFeedback===feedback">
          <input [(ngModel)]="updatedContent" />
          <button (click)="updateComment(feedback, updatedContent)">OK</button>
          <button (click)="cancelUpdate()">Vissza</button>
        </ng-container>
      </li>


    </ul>
    <button (click)="logout()" type="button">Kijelentkezés</button>
  </div>
</section>
