<section class="hero">
    <h1>Visszajelzés</h1>
</section>
<p></p>
<section class="content">
    <form [formGroup]="signUpForm" (ngSubmit)="onSignup()">
        <div class="form-group">
            <label for="name">Név</label>
            <input type="text" id="name" name="name" formControlName="name" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" formControlName="email" required>
        </div>
        <div class="form-group">
            <label for="password">Jelszó</label>
            <input type="password" id="
            password" name="password" formControlName="password" required>
        </div>
        <div class="form-group">
            <label for="rePassword">Jelszó újra</label>
            <input type="password" id="rePassword" name="rePassword" formControlName="rePassword" required>
        </div>
        <div class="form-group">
            <label for="isAdmin">Admin</label>
            <input type="checkbox" id="isAdmin" name="isAdmin" formControlName="isAdmin">
        </div>
        <div class="form-group">
            <button type="submit">Regisztráció</button>
            <button type="button" (click)="goBack()">Vissza</button>
        </div>
    </form>

</section>