<section class="hero">
  <h1>Menetrendek</h1>
</section>
<section class="content">
  <div class="trams">
    <h3> Villamos </h3>
    <button *ngFor="let line of tramLines" (click)="viewSchedule(line)">{{ line }}</button>
  </div>
  <div class="buses">
    <h3> Busz </h3>
    <button *ngFor="let line of busLines" (click)="viewSchedule(line)">{{ line }}</button>
  </div>
  <div class="schedules-container" *ngIf="showSchedules">
    <h3>{{ selectedLine }}-es járat</h3>
    <table>
      <thead>
      <tr>
        <th>Megálló</th>
        <th>Perc</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let stop of schedules">
        <td>{{ stop.name }}</td>
        <td>{{ stop.time }}</td>
      </tr>
      </tbody>
    </table>
    <button class="back-button" (click)="goBack()">Back</button>
  </div>
</section>
